<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.panzhigao.mapper.ScoreHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.panzhigao.entity.ScoreHistory">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="type_name" property="typeName" />
        <result column="score" property="score" />
        <result column="score_date" property="scoreDate" />
        <result column="create_time" property="createTime" />
        <result column="total_score" property="totalScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, type, type_name, score, score_date, create_time, total_score
    </sql>

</mapper>
